*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content-section{
  padding-top: 20px;
}
.profile__image-icon{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.media-body{
  display: block;
  /* border: 1px solid black; */
  box-shadow: 0px 1px 1px 1px rgb(0 0 0 / 10%);
  padding: 10px;
}
.article-metadata{
  border-bottom: 1px solid black;
}
.text-muted{
  padding-left: 5px;
  font-size: 10px;
}